<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<form role="form" ng-submit="saveArticle()">
				<div class="form-group">
					<input type="text" ng-model="article.title" class="form-control" placeholder="Title"/>
				</div>
				<div class="form-group">
					<div ng-model="article.content" md-editor style="height:500px;"></div>
				</div>
				<div ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">
					<a href="" class="btn btn-default btn-link">Attach File</a>
				</div>
				<div class="form-group">

					<ul ng-repeat="att in article.attachments" class="list-unstyled">
						<li>{{att.filename}} <a href="" ng-click="removeAttachment(att)">Remove</a>
						<div class="progress" ng-show="att.percent < 100">
							<div class="progress-bar" role="progressbar" aria-valuenow="{{att.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{att.percent}}%;">
								{{att.percent}}%
							</div>
						</div>
						</li>
					</ul>

				</div>
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn" ng-click="cancel()">Cancel</button>
			</form>
		</div>
		<div class="col-xs-6">
			<h1>{{article.title}}</h1>
			<div marked="article.content"></div>
		</div>
	</div>
</div>
