<div>
	<article>
		<div>
			<button class="btn" ng-click="editReport()">edit</button>
			<!-- TODO: when permissions are implemented -->
			<!--<button class="btn" ng-click="deleteReport($item)">delete</button>-->
		</div>
		<h2>{{report.modifiedBy.username | username}} - {{report.modified | sdate}}</h2>
		<div ng-repeat="activity in report.activities" marked="activity.content"></div>
		<div>
		<h4>Comments</h4>
			<form role="form">
				<div class="form-group">
					<textarea type="text" ng-model="newComment" class="form-control" placeholder="Add comment"></textarea>
				</div>
				<div class="form-group" ng-show="newComment">
					<button type="submit" class="btn btn-primary">Add</button>
					<button type="button" class="btn">Cancel</button>
				</div>
			</form>
			<div ng-repeat="comment in comments"></div>
		</div>
	</article>
</div>
