<div>
	<button class="btn btn-primary" ng-click="addReport()">Add report</button>
	<article ng-repeat="report in reports">
	<div>
		<div class="btn-group pull-right" dropdown>
			<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
				Actions <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" ng-click="editReport(report)">Edit</a></li>
				<!--<li><a href="#" ng-click="deleteReport(report)">Delete</a></li>-->
			</ul>
		</div>
		<h2><a href="#/reports/{{report.id}}">{{report.modifiedBy.username | username}} - {{report.modified | sdate}}</a></h2>
	</div>
	<div ng-repeat="blocker in report.blockers" marked="blocker.content" class="alert alert-danger"></div>
	<div>
	<div ng-repeat="activity in report.activities" marked="activity.content"></div>
	<div>
		<h4>Comments</h4>
		<div>
			<form role="form" ng-submit="addComment(report)">
				<div class="form-group">
					<textarea ng-model="newComments[report.id].content" class="form-control" rows="1"></textarea>
				</div>
				<div class="form-group" ng-show="newComments[report.id].content">
					<button type="submit" class="btn btn-default">Send</button>
					<button class="btn btn-default" ng-click="toggleComment(report)">Cancel</button>
				</div>
			</form>
		</div>
		<div class="media" ng-repeat="comment in report.comments[report.id]">
			<div class="pull-right">
				<a href="">{{comment.postedBy.username | username}}</a> <span timeago="comment.posted"></span>
			</div>
			<div class="media-body" marked="comment.content">
			</div>
		</div>
		<!--<div>
			<button class="btn btn-default" ng-click="loadComments(report)">Show more</button>
		</div> -->
	</div>
	</article>
</div>
