<div>
	<article>
		<div>
			<button class="btn" ng-click="editReport()">edit</button>
			<!-- TODO: when permissions are implemented -->
			<!--<button class="btn" ng-click="deleteReport($item)">delete</button>-->
		</div>
		<h2>{{report.createdBy.username | username}} - {{report.client}} - {{report.team}}</h2>
		<div>Date: {{report.date | sdate}}<span ng-show="report.version > 1">, Modified: {{report.modified | sdate}}, ver: {{report.version}}</span></div>
		<div ng-repeat="blocker in report.blockers" marked="blocker.content" class="alert alert-danger"></div>
		<br/>
		<div ng-repeat="activity in report.activities">
			<span class="pull-left" style="width: 3em;">{{activity.duration}} hr</span>
			<div marked="activity.content"></div>
		</div>
		<div>
			<p>
			Total: <span class="label label-default" style="width: 3em;">{{total}} hr</span>
			</p>
		</div>
		<comments comments="report.comments" target-id="report.id" target-type="report"/>
	</article>
</div>
