<div class="container">
	<h2>Change password</h2>
	<alert ng-repeat="msg in messages" type="{{msg.type}}">{{msg.msg}}</alert>
	<form ng-submit="changePass()" role="form">
		<div class="form-group">
			<input type="password" ng-model="oldpass" class="form-control" placeholder="old password"/>
		</div>
		<div class="form-group">
			<input type="password" ng-model="newpass" class="form-control" placeholder="new password"/>
		</div>
		<div class="form-group">
			<input type="password" ng-model="confirm" class="form-control" placeholder="confirm new password"/>
		</div>
		<button type="submit" class="btn btn-primary">submit</button>
	</form>
</div>
