<div>
	<button class="btn btn-primary" ng-click="addArticle()">Add article</button>
	<article ng-repeat="article in articles">
		<div>
			<div class="btn-group pull-right" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
					Actions <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" ng-click="editArticle(article)">Edit</a></li>
					<!-- TODO -->
					<!--<li><a href="#" ng-click="deleteArticle(article)">Delete</a></li>-->
				</ul>
			</div>
			<h2><a href="#/articles/{{article.id}}">{{article.title}}</a></h2>
		</div>
		<div marked="article.content"></div>
		<div>
			<ul class="list-unstyled">
				<li ng-repeat="attachment in article.attachments">
				<a href="/assets/{{attachment.id}}">{{attachment.filename}}</a> modified at <span>{{attachment.modified}}</span>
				</li>
			</ul>
		</div>
		<comments comments="article.comments" target-id="article.id" target-type="article"/>
	</article>
</div>
